.divContainer{
    padding: 10px;
    margin-bottom: 20px;
}

.divContainer{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(125px, 1fr));
  }
.allButtons{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25px, 1fr));
    justify-content: end;
    text-align: center;
    padding: 5px;
    
}
.pagination{
    text-align: center;
    padding: 5px;
    
}